{% extends 'shared/base.html' %}

{% load static %}

{% block content %}
  <h1>{{ lot.name }}</h1>
  <div>
    {% if user.is_superuser %}
      <form action="{% url 'parkingapp:lot_details' lot.id user.id %}" method="post">
        {% csrf_token %}
        <input type="hidden" name="actual_method" value="PUT">
        <input type="submit" value="Add Spot">
      </form>
    {% endif %}
  {% if not user.is_superuser %}
    {% for spot in lot.spots %}
      {% if not spot.is_reserved %}
        <form action="{% url 'parkingapp:lot_details' lot.id user.id %}" method="post">
          {% csrf_token %}
          <p style="list-style-type: none;">Spot #: {{ spot.number }}</p>
          <select id="payment" type="text" name="payment" required>
            <option value="">Select Payment</option>
            {% for payment in payments %}
              <option value="{{ payment.id }}">{{ payment.merchant_name }} {{ payment.expiration_date }}</option>
            {% endfor %}
          </select>
          <select id="vehicle" type="text" name="vehicle" required>
            <option value="">Select vehicle</option>
            {% for vehicle in vehicles %}
              <option value="{{ vehicle.id }}">{{ vehicle.make }} {{ vehicle.model }}</option>
            {% endfor %}
          </select>
          <select name="num_of_hours" id="num_of_hours" required>
            <option value="">Hours to Reserve</option>
            <option value="1">1 Hour</option>
            <option value="3">3 Hours</option>
            <option value="5">5 Hours</option>
          </select>
          <input type="hidden" name="spot" value="{{ spot.id }}">
          <input type="submit" value="Reserve">
        </form>
      {% endif %}
    {% endfor %}
    {% endif %}
    {% if user.is_superuser %}
      {% for spot in lot.spots %}
        {% if not spot.is_reserved %}
        <form action="{% url 'parkingapp:lot_details' lot.id user.id %}" method="post">
          {% csrf_token %}
          <p style="list-style-type: none;">Spot #: {{ spot.number }}</p>
          <input type="hidden" name="spot_id" value="{{ spot.id }}">
          <input type="hidden" name="actual_method" value="DELETE">
          <input type="submit" value="Delete Spot">
        </form>
        {% endif %}
      {% endfor %}
    {% endif %}
  </div>
{% endblock %}
