{% extends 'shared/base.html' %}

{% load static %}

{% load bootstrap4 %}

{% block css %}
  <link rel="stylesheet" href="{% static 'styles/base.css' %}" />
{% endblock %}

{% block content %}
<div class="lot-details-container" style="text-align: center;">
  <h1>{{ lot.name }}</h1>
  <div>
    {% if user.is_superuser %}
      <form action="{% url 'parkingapp:lot_details' lot.id user.id %}" method="post">
        {% csrf_token %}
        <input type="hidden" name="actual_method" value="PUT">
        <input class="btn btn-danger mb-2" type="submit" value="Add Spot">
      </form>
    {% endif %}
  {% if not user.is_superuser %}
  <div class="spots">
    {% for spot in lot.spots %}
    <div class="spot">
      {% if not spot.is_reserved %}
        <form action="{% url 'parkingapp:lot_details' lot.id user.id %}" method="post">
          {% csrf_token %}
          <p><strong>Spot # {{ spot.number }}</strong></p>
          <select class="mb-2" id="payment" type="text" name="payment" required>
            <option value="">Select Payment</option>
            {% for payment in payments %}
              <option value="{{ payment.id }}">{{ payment.merchant_name }} {{ payment.expiration_date }}</option>
            {% endfor %}
          </select>
          <select class="mb-2" id="vehicle" type="text" name="vehicle" required>
            <option value="">Select vehicle</option>
            {% for vehicle in vehicles %}
              <option value="{{ vehicle.id }}">{{ vehicle.make }} {{ vehicle.model }}</option>
            {% endfor %}
          </select>
          <select name="num_of_hours" id="num_of_hours" required>
            <option value="">Hours to Reserve</option>
            <option value="1">1 Hour</option>
            <option value="3">3 Hours</option>
            <option value="5">5 Hours</option>
          </select>
          <p>
          <input type="hidden" name="spot" value="{{ spot.id }}">
          <input class="btn btn-danger mt-2" type="submit" value="Reserve">
          </p>
        </form>
        {% else %}
          <p><strong>Spot # {{ spot.number }}</strong></p>
          <h4 class="mt-5"><strong>Spot is Reserved</strong></h4>
      {% endif %}
    </div>
    {% endfor %}
    </div>
    {% endif %}
    {% if user.is_superuser %}
    <div class="admin-spots">
      {% for spot in lot.spots %}
      <div class="admin-spot">
        {% if not spot.is_reserved %}
        <form action="{% url 'parkingapp:lot_details' lot.id user.id %}" method="post">
          {% csrf_token %}
          <p style="list-style-type: none;"><strong>Spot # {{ spot.number }}</strong></p>
          <input type="hidden" name="spot_id" value="{{ spot.id }}">
          <input type="hidden" name="actual_method" value="DELETE">
          <input class="btn btn-danger" type="submit" value="Delete Spot">
        </form>
        {% else %}
          <p><strong>Spot # {{ spot.number }}</strong></p>
          <h4><strong>Spot is Reserved</strong></h4>
        {% endif %}
        </div>
      {% endfor %}
      </div>
    {% endif %}
{% endblock %}
