{% extends 'shared/base.html' %}

{% load static %}


{% block content %}
<div class="lot-form-container" style="text-align: center;">
  <h1>Add New Lot</h1>
  <form action="{% url 'parkingapp:add_lot_form' %}" method="post">
    {% csrf_token %}
    <fieldset>
      <label for="name">Name: </label>
      <input id="name" type="text" name="name" required>
    </fieldset>
    <fieldset>
      <label for="address">Address: </label>
      <input id="address" type="text" name="address" required>
    </fieldset>
    <fieldset>
      <label for="hourly_rate">Hourly Rate: </label>
      <input id="hourly_rate" type="hourly_rate" name="hourly_rate" required>
    </fieldset>
    <fieldset>
      <label for="number_of_spots">Number of Spots: </label>
      <input id="number_of_spots" min=1 type="number" name="number_of_spots" required>
    </fieldset>
    <input class="btn btn-danger" type="submit" value="Add Lot" />
  </form>
  </div>
{% endblock %}
