{% load static %}
<!DOCTYPE html>
<html>
{# Load the tag library #}
{% load bootstrap4 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}

<head>
  <meta charset="utf-8">
  <title>Don't Park Unhappy</title>
  {% block css %}
    <link rel="stylesheet" href="{% static 'styles/base.css' %}" type="text/css" />
  {% endblock css %}
</head>
  <body>
    <div class="home-containter" style="text-align: center;">
      <h1 class="header m-5">Welcome to Don't Park Unhappy!</h1>
      <h4>If already registered login here:</h4>
      <a class="btn btn-danger mt-2" href="{% url 'parkingapp:login' %}">Login</a>
      <h4 class="m-2">Or create an account here:</h4>
      <form action="{% url 'parkingapp:register' %}" method="get">
        {% csrf_token %}
        <input class="btn btn-danger mt-2" type="submit" value="Register">
      </form>
      <img src="../static/styles/media/dont_park_unhappy_icon.jpg" alt="logo">
    </div>
    <footer class="footer" style="text-align: center;">
      <p>Don't Park Uphappy &copy; 2020</p>
      <p>Call 615-555-1324 For Boot Removal</p>
    </footer>
  </body>
</html>
