{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Parking App</title>
  </head>
  <body>
    <h1>Register Account</h1>
    <form action="{% url 'parkingapp:register' %}" method="post">
      {% csrf_token %}
      <fieldset>
          <label for="username">Username: </label>
          <input id="username" type="text" name="username">
      </fieldset>
      <fieldset>
          <label for="first_name">First Name: </label>
          <input id="first_name" type="text" name="first_name">
      </fieldset>
      <fieldset>
          <label for="last_name">Last Name: </label>
          <input id="last_name" type="text" name="last_name">
      </fieldset>
      <fieldset>
          <label for="email">Email: </label>
          <input id="email" type="email" name="email">
      </fieldset>
      <fieldset>
          <label for="password">Password: </label>
          <input id="password" type="password" name="password">
      </fieldset>
      <input type="submit" value="Register" />
    </form>
  </body>
</html>
