{% extends 'shared/base.html' %}

{% load static %}

{% block content %}
  <h1>Payment Types</h1> 
  {% if user.is_authenticated %}
    <form action="{% url 'parkingapp:payment_form' user.id %}" method="get">
      {% csrf_token %}
      <input type="submit" value="Add Payment">
    </form> 
    {% for payment in payment_types %}
      <div>
        {% if payment.account_num %}
          <p>Card Type: {{ payment.merchant_name }}</p>
          <p>Card Number: {{ payment.account_last4 }}</p>
          <p>Card Expiration: {{ payment.expiration_date }}</p>
        {% endif %}
        <form action="{% url 'parkingapp:payment_list' user.id  %}" method="post">
          {% csrf_token %}
          <input type="hidden" name="payment_id" value="{{ payment.id }}">
          <input type="hidden" name="actual_method" value="DELETE">
          <input type="submit" value="Delete Payment">
        </form>
      </div>
    {% endfor %}
  {% endif %}
{% endblock %}
